.success-snackbar {
  background-color: #4caf50; // Green background for success
  color: #fff;
}

.error-snackbar {
  background-color: #f44336; // Red background for error
  color: #fff;
}
.update {
  background-color: #322653;
  border: none;
}

.back-button{
  background: none;
  margin-left: 18px;
  border: none;;
}

.back-button:hover{
  background: none;
  border: none;
}
