<!-- add-coupon.component.html -->
<div class="container mt-5">
    <h3 class="text-center mb-4">Add Coupon</h3>
    <div>
        <button class="back-button" (click)="goBack()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#322653" viewBox="0 0 256 256"><path d="M228,128a12,12,0,0,1-12,12H69l51.52,51.51a12,12,0,0,1-17,17l-72-72a12,12,0,0,1,0-17l72-72a12,12,0,0,1,17,17L69,116H216A12,12,0,0,1,228,128Z"></path></svg>
        </button>
    </div>
    <form (ngSubmit)="addCoupon()" class="bg-light p-5 rounded shadow-sm">
      <!-- Coupon Code -->
      <div class="mb-4">
        <label for="couponCode" class="form-label">Coupon Code:</label>
        <input type="text" class="form-control form-control-lg" [(ngModel)]="coupon.couponCode" name="couponCode" required placeholder="Enter coupon code" />
      </div>
  
      <!-- Discount Percentage -->
      <div class="mb-4">
        <label for="percentageOff" class="form-label">Discount Percentage:</label>
        <input type="number" class="form-control form-control-lg" [(ngModel)]="coupon.percentageOff" name="percentageOff" required placeholder="Enter discount percentage" />
      </div>
  
      <!-- Expiration Date -->
      <div class="mb-4">
        <label for="expiresOn" class="form-label">Expires On:</label>
        <input type="datetime-local" class="form-control form-control-lg" [(ngModel)]="coupon.expiresOn" name="expiresOn" required />
      </div>
  
      <!-- Valid Checkbox -->
      <div class="form-check mb-4">
        <input type="checkbox" class="form-check-input" [(ngModel)]="coupon.valid" name="valid" />
        <label for="valid" class="form-check-label">Valid</label>
      </div>
  
      <!-- Coupon Not Expired Checkbox -->
      <div class="form-check mb-4">
        <input type="checkbox" class="form-check-input" [(ngModel)]="coupon.couponNotExpired" name="couponNotExpired" />
        <label for="couponNotExpired" class="form-check-label">Coupon Not Expired</label>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary btn-lg w-100 mb-3">Add Coupon</button>
  
      <!-- Go Back Button -->
      <button type="button" class="btn btn-secondary btn-lg w-100" (click)="goBack()">Go Back</button>
    </form>
  </div>
  