// Add custom styles for the Coupon List
.container {
    margin-top: 50px;
    align-items: center;
  }
  
  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .badge {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 50px;
  }
  .add-coupon{
    background-color: #322653;
    border: none;
  }

  .back-button{
    background: none;
    margin-left: 18px;
    border: none;;
  }

  .back-button:hover{
    background: none;
    border: none;
  }

  .delete:hover{
    background-color: #bf0540;
}

.delete:focus{
    background-color: #bf0540;
    box-shadow: none;
}