<div>
  <button class="back-button" (click)="back()">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#322653" viewBox="0 0 256 256"><path d="M228,128a12,12,0,0,1-12,12H69l51.52,51.51a12,12,0,0,1-17,17l-72-72a12,12,0,0,1,0-17l72-72a12,12,0,0,1,17,17L69,116H216A12,12,0,0,1,228,128Z"></path></svg>
  </button>
</div>
<div class="container mt-4 d-flex justify-content-center">
  
    <div class="col-6">
      <h2 class="text-center">Add New Category</h2>
  
      <form #categoryForm="ngForm" (submit)="addCategory($event)" novalidate>
        <div class="mb-3">
          <label for="categoryName" class="form-label">Category Name</label>
          <input 
            type="text" 
            id="categoryName" 
            class="form-control"
            [(ngModel)]="newCategory.categoryName"
            name="categoryName"
            required
            #categoryName="ngModel"
          />
          <div *ngIf="categoryName.invalid && categoryName.touched" class="text-danger">
            Category name is required.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="categoryImage" class="form-label">Category Image URL</label>
          <input 
            type="text" 
            id="categoryImage" 
            class="form-control"
            [(ngModel)]="newCategory.categoryImage"
            name="categoryImage"
            required
            #categoryImage="ngModel"
          />
          <div *ngIf="categoryImage.invalid && categoryImage.touched" class="text-danger">
            Category image URL is required.
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary w-100" [disabled]="categoryForm.invalid">Add Category</button>
      </form>
    </div>
  </div>
  